<footer>
  <p>&copy; 2025 Mediahuis | Gemaakt door
    <a
      href="https://www.armanvoogd.com/en/"
      target="_blank"
      rel="noopener noreferrer">Arman Voogd</a>
  </p>
</footer></body></html>