<header>
  <nav>
    <ul>
      <li>
        <button>Menu</button>
      </li>
      <li class="logo">
        <a href="/">
          <h1>Mediahuis</h1>
        </a>
      </li>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Radio</a>
      </li>
      <li>
        <a href="/">Ontdek</a>
      </li>
      <li class="zoeken">
        <button>Zoeken</button>
      </li>
      <li>
        <button>Live Chat!</button>
      </li>
    </ul>
  </nav>
</header>