<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Luister naar jouw favoriete radiostation bij Mediahuis.">
    <title>
      Mediahuis{% if radiostation %}
        | {{ radiostation }}{% endif %}
    </title>
    <link rel="stylesheet" href="/css/global.css">
    {% if page == 'home' %}
      <link rel="stylesheet" href="/css/home.css">
    {% elsif page == 'radio' %}
      <link rel="stylesheet" href="/css/radio.css">
    {% elsif page == 'livechat' %}
      <link rel="stylesheet" href="/css/livechat.css">
    {% endif %}
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon.webp">
      <link rel="preload" href="/fonts/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2" as="font" type="font/woff2" crossorigin>
      <link rel="preload" href="/fonts/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2" as="font" type="font/woff2" crossorigin>
    <script src="/js/main.js" type="module"></script>
</file>
</file>
