<header>
  <nav>
    <ul class="style-label">
      <li class="logo">
        <a href="{% if radiostation %}/{{ radio.slug }}{% else %}/{% endif %}">
          <h1 class="style-label">
            {% if radiostation %}
              {{ radiostation }}
            {% else %}
              Mediahuis
            {% endif %}
          </h1>
        </a>
      </li>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Radio</a>
      </li>
      <li>
        <a href="/">Ontdek</a>
      </li>
      <li class="zoeken">
        <button class="style-label">Zoeken</button>
      </li>
      <li>
        <button class="style-label">Live Chat!</button>
      </li>
    </ul>
  </nav>
</header>