<header>
  <nav>
    <ul class="nav-top">
      <li class="logo">
        <a href="{% if radiostation %}/{{ radio.slug }}{% else %}/{% endif %}">
          <h1 class="style-label">
            {{ radiostation | default: "Mediahuis" }}
          </h1>
        </a>
      </li>
      <li>
        <button
          class="menu-button"
          aria-label="Menu"
          aria-expanded="false"
          aria-controls="mainNavigation">
          <span></span>
        </button>
      </li>
    </ul>
    <ul class="main-navigation style-label" id="mainNavigation">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Radio</a>
      </li>
      <li>
        <a href="/">Ontdek</a>
      </li>
      <li class="zoeken">
        <button class="style-label">Zoeken</button>
      </li>
      <li>
        <button class="style-label">Live Chat!</button>
      </li>
    </ul>
  </nav>
</header>