{% include 'partials/head.liquid' %}
<body>
  {% include 'partials/header.liquid' %}
  <main>
    <article class="initial-message">
      <h2 class="style1">Alle radiostations binnen handbereik</h2>
      <p class="style2">Kies je favoriet en luister direct!</p>
    </article>
    <div class="radiostations">
      {% for station in stations %}
        {% if station.name == "Radio Veronica" %}
          <a
            href="/{{ station.slug }}"
            class="card-{{ station.slug }}"
            aria-label="{{ station.name }}">
            <div class="veronica-logo">
              {% render 'svg/veronica.liquid' %}
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="background">
      <video
        id="bg-video"
        autoplay
        muted
        loop>
        <source src="https://media.tmgvideo.nl/progressive/account=XIMsM-bLUxQB/item=a7kBPZWKSqMU/version=202502191515_8/a7kBPZWKSqMU.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </main>
  {% include 'partials/foot.liquid' %}
</body>