{% include 'partials/head.liquid' %}
<body>
  {% include 'partials/header.liquid' %}
  <main>
    <article class="initial-message">
      <h2>Alle radiostations binnen handbereik</h2>
      <h2>Kies je favoriet en luister direct!</h2>
    </article>
    <div class="radiostations">
      <a
        href="/radio-veronica"
        class="card-veronica"
        aria-label="Radio Veronica">
        <div>
          {% render 'svg/veronica.liquid' %}
        </div>
      </a>
    </div>
    <p>Current page: {{ page }}</p>
  </main>
  {% include 'partials/foot.liquid' %}
</body>