{% include 'partials/head.liquid' %}
<body>
  <div class="background">
    <video
      id="bg-video"
      autoplay
      muted
      loop>
      <source src="https://media.tmgvideo.nl/progressive/account=XIMsM-bLUxQB/item=a7kBPZWKSqMU/version=202502191515_8/a7kBPZWKSqMU.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  {% include 'partials/header.liquid' %}
  <main>
    <article class="initial-message">
      <h2 class="style1">Alle radiostations binnen handbereik</h2>
      <p class="style2">Kies je favoriet en luister direct!</p>
    </article>
    <div class="radiostations">
      <a
        href="/radio-veronica"
        class="card-veronica"
        aria-label="Radio Veronica">
        <div class="veronica-logo">
          {% render 'svg/veronica.liquid' %}
        </div>
      </a>
    </div>
  </main>
  {% include 'partials/foot.liquid' %}
</body>