{% include 'partials/head.liquid' %}
<body>
  {% include 'partials/header.liquid' %}
  <main>
    <article class="initial-message">
      <h2 class="style1">Alle radiostations binnen handbereik</h2>
      <p class="style2">Kies je favoriet en luister direct!</p>
    </article>
    <div class="radiostations">
      <a
        href="/radio-veronica"
        class="card-veronica"
        aria-label="Radio Veronica">
        <div class="veronica-logo">
          {% render 'svg/veronica.liquid' %}
        </div>
      </a>
    </div>
    <div class="wave-svg">
      {% render 'svg/wave.liquid' %}
    </div>
  </main>
  {% include 'partials/foot.liquid' %}
</body>