{% render 'partials/head.liquid'
  , page: page
  , radiostation: radiostation %}
<body>
  {% render 'partials/header.liquid'
    , radiostation: radiostation %}
  <main>
    <article class="initial-message">
      <h2>RAH</h2>
    </article>
  </main>
  {% render 'partials/foot.liquid' %}
</body>