{% render 'partials/head.liquid' %}
<body>
  {% render 'partials/header.liquid' %}
  <main>
    <article class="initial-message">
      <h2>RAH</h2>
    </article>
  </main>
  {% render 'partials/foot.liquid' %}
</body>