:root {
  /* Color scheme */
  color-scheme: light dark;

  /* Colors */
  --bg-light: #f0f0f0;
  --bg-dark: #1e1e1e;

  --text-light: #1e1e1e;
  --text-dark: #f0f0f0;

  --transparent-light: #1e1e1e25;
  --transparent-dark: #f0f0f025;

  --mediahuis: #ff7c1a;
  --veronica: #005799;
  --100-nl: #f08e04;
  --slam-fm: #e50169;
  --sublime: #98bf27;

  --activehovercolor: var(--mediahuis);

  /* Fonts */
  --main-font: "Montserrat", sans-serif;

  /* Typography */
  --font-size-1: 36px;
  --font-size-2: 28px;
  --font-size-3: 20px;

  --font-size-normal: 16px;
  --font-size-small: 14px;

  --font-weight-black: 900;
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
}

.style1 {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-bold);
}

.style2 {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-semi-bold);
}

.style3 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-medium);
}

.style-normal {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-regular);
}

.style-small {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
}

.style-label {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-black);
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@view-transition {
  navigation: auto;
}

* {
  font-family: var(--main-font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  background-color: light-dark(var(--bg-light), var(--bg-dark));
  color: light-dark(var(--text-light), var(--text-dark));
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
}

header {
  display: flex;
  flex-direction: row;
  height: 6vh;
  height: 6dvh;
  width: 100vw;
  width: 100dvw;
  background-color: var(--activehovercolor);
  overflow: clip;

  nav {
    width: 100%;
    height: 100%;

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 20px;
      gap: 20px;

      li.logo {
        margin-inline-end: 2em;
      }

      li.zoeken {
        margin-inline-start: auto;
      }

      li {
        color: var(--text-light);

        button {
          background-color: transparent;
          color: inherit;
          border: none;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 6vh;
  height: 6dvh;
  width: 100vw;
  width: 100dvw;
  background-color: var(--activehovercolor);
  color: var(--text-light);
  margin-top: auto;
  text-align: center;
}
