html {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 1em;
}

.initial-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5em;
  padding-block-start: 3em;
}

.card-veronica {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 90%;
  max-width: 350px;
  aspect-ratio: 7 / 5;
  border-radius: 15px;
  background-color: light-dark(var(--transparent-light), var(--transparent-dark));
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }

  .veronica-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .veronica-svg {
    height: 90%;
    width: 90%;
    fill: var(--veronica);
  }
}

.wave-svg {
  width: fit-content;
  height: fit-content;

  svg {
    fill: var(--activehovercolor);
  }
}
